django
django-activity-stream
django-cloudinary-storage
django-cors-headers
django-filter
django-polymorphic
django-rest-polymorphic
djangorestframework
djoser
drf-spectacular
algoliasearch-django
cloudinary
google-auth
psycopg2
python-decouple
pillow
faker
pytest
whitenoise