<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <body>
        <script>
          function handleCredentialResponse(response) {
            console.log("Encoded JWT ID token: " + response.credential);
          }
          window.onload = function () {
            google.accounts.id.initialize({
              client_id: "147313732364-08ibto47obe73a1ijeffibmp0mc1flbj",
              callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
              document.getElementById("buttonDiv"),
              { theme: "outline", size: "large", shape: 'circle'}  // customization attributes
            );
            google.accounts.id.prompt(); // also display the One Tap dialog
          }
      </script>
      <div id="buttonDiv" style="max-width:300px;"></div> 
    </body>
</body>
</html>



  
